<div class="container">
        <div class="profile-container">
            
            <!-- Profile picture section -->
            <div class="profile-picture">
                <!-- <img src="<%= User.profilePic %>" alt="Profile Picture" class="profile-pic"> -->
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Profile Picture" class="profile-pic">
            </div>
            <h2>User Profile</h2>
            <!-- Display user profile details -->
           <div class="profile-details">
            <p><strong>Name:</strong> <%= User.name %></p>
            <p><strong>Email:</strong> <%= User.email %></p>
            <!-- Add more profile details as needed -->
        </div>
    </div>
    
</div>
